gunicorn
botbuilder-integration-aiohttp>=4.14.5
azure-ai-formrecognizer==3.3.2
azure-common==1.1.28
azure-core==1.30.0
azure-cosmos==4.3.1
azure-identity==1.15.0
azure-search-documents==11.4.0
openai==1.12.0
python-dotenv
requests==2.31.0
tiktoken==0.5.2
